<?xml version="1.0"?>

<launch>

    <rosparam file="$(find mobilican_hw)/config/lizi_2/lizi_hw.yaml" command="load"/>

    <node name="lizi_hw_node" pkg="lizi_hw" type="lizi_hw_node" respawn="false" output="screen" />
    
    <include file="$(find ric_interface_ros)/launch/ric_interface_ros.launch" />

</launch>
