<?xml version="1.0" encoding="UTF-8"?>

<!-- komodo specific launch -->

<launch>

    <arg name="robot" default="komodo2"/>

    <arg name="gazebo" default="false" doc="execute robot inside gazebo sim"/>
    <arg name="world" default="worlds/empty.world"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="Y" default="0.0"/>

    <arg name="have_map" default="false" doc="set to true to use pre-saved map"/>
    <arg name="map" default="map.yaml" doc="pre-saved map path"/>

    <!--load simulation stuff-->
    <group if="$(arg gazebo)">
        <env name="GAZEBO_MODEL_PATH" value="$(find mobilican_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
        <param name="robot_description" command="$(find xacro)/xacro '$(find mobilican_description)/$(arg robot)/urdf/$(arg robot)_gazebo.xacro' --inorder depth_cam:=true rgb_cam:=true urf:=true imu:=true gps:=true lidar:=true" />

        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)"/>
            <arg name="gui" value="true"/>
        </include>
        <node name="$(arg robot)_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model $(arg robot) -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Y)" />
    </group>

    <!--load hardware stuff-->
    <group unless="$(arg gazebo)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find mobilican_description)/$(arg robot)/urdf/$(arg robot).xacro' --inorder" />
        <include file="$(find mobilican_hw)/launch/$(arg robot)_hw.launch" />

        <group if="$(arg depth_cam)">
            <include file="$(find intel_d435)/launch/d435.launch" />
        </group>

        <group if="$(arg rgb_cam)">
            <include file="$(find usb_cams)/launch/front_cam.launch" />
        </group>

        <group if="$(arg lidar)">
            <include file="$(find lidar_urg_node)/launch/lidar.launch" />
        </group>
    </group>

</launch>
